<div class="row" style="padding-top: 20px">

  <div class="col-lg-8">

    <div class="card">
      <div class="card-header text-center bg-danger text-white">
        Les postes les plus populaire !!
      </div>
      <div class="card-body text-center">

        <% if @posts.each do |post| %>
          <%= render "partials/post" , post: post %>
        <% end.empty? %>
          <p> Aucun message posté pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header text-center bg-success text-white">
        Nouveau sur Social Ryby ?
      </div>
      <div class="card-body text-center">
        <i>Inscrivez-vous maintenant pour obtenir votre fil d'actualités personnalisé ! </i>
        <hr>
        <%= link_to "S'inscrire", new_user_registration_path , class: 'btn btn-success btn-block' %>
      </div>
    </div>

  </div>

</div>
